.imgCircle {
    margin-top: 20px;
    border-radius: 50%;
}

.imgColumn {
    border-right: 3px dotted var(--light-gray);
}

.description {
    max-width: 80%;
}

.bee {
    animation: fly 8s infinite; 
}

@keyframes fly {
    0% {
      transform: translateY(0px);
    }
  
    10% {
      transform: translateY(10px);
    }
  
    20% {
      transform: translateY(0px);
    }
  
    30% {
      transform: translateY(10px);
    }
  
    40% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    60% {
      transform: translateY(0px);
    }
  
    70% {
      transform: translateY(10px);
    }
  
    80% {
      transform: translateY(0px);
    }
  
    90% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
}

@media screen and (max-width: 575px) {
    .imgCircle {
      width: 75%;
      height: auto;
    }
}


@media screen and (max-width: 400px) {
    .description {
        font-size: 15px;
    }
}