.formContainer {
    margin: 25px auto;
}

.formGroup {
    margin-bottom: 25px;
}

.formGroup textarea {
    min-height: 100px;
}

.formGroup input:focus, .formGroup textarea:focus {
    border: 1px solid rgb(255, 255, 72);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(255, 255, 72);
}
