.loadingIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1, .icon2, .icon3 {
    font-size: 25px;
    margin: 0 5px;
    opacity: 0;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.icon1 {
    animation-name: fadeIcon1;
}

.icon2 {
    animation-name: fadeIcon2;
}

.icon3 {
    animation-name: fadeIcon3;
}

@keyframes fadeIcon1 {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
}

@keyframes fadeIcon2 {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
}

@keyframes fadeIcon3 {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
